################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Prisma/.vs/Prisma
/Prisma/Prisma.Core/bin/Debug/net5.0
/Prisma/Prisma.Core/obj
/Prisma/Prisma.UnitTests/bin/Debug/net5.0
/Prisma/Prisma.UnitTests/obj
/Prisma/Prisma.Demo/obj
/Prisma/Prisma.Demo/bin/Debug/net5.0
